@font-face {
  font-family: "BalonkuRegular";
  src: url("/fonts/BalonkuRegular.otf");
}

@font-face {
  font-family: "Bubble3d";
  src: url("/fonts/Bubble3d.ttf") format("truetype");
}

@font-face {
  font-family: "RecoletaR";
  src: url("/fonts/Recoleta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RecoletaB";
  src: url("/fonts/Recoleta-Black.ttf") format("truetype");
}

