@import './reset.scss';
@import './functions.scss';
@import './variables.scss';
@import './fonts.scss';
@import './aesthetic.scss';
@import './talktext.scss';

.container {
  display: flex;
  background-image: url('../assets/BAD-4.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  position: absolute;
  min-height: -webkit-fill-available;

  @include common-bp(tablet) {
    background-image: url('../assets/BAD-5.jpg');
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.title-container {
  width: 100%;
}

.h1 {
  text-align: center;
  font-family: 'RecoletaR', serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-top: 3rem;

  @include common-bp (tablet) {
    font-size: 3rem;
    margin-bottom: 0;
    padding-top: 3rem;
    padding-left: 3rem;
  }
}

.h2 {
  text-align: center;
  font-family: 'RecoletaR', serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-top: 3rem;

  @include common-bp (tablet) {
    text-align: right;
    font-size: 3rem;
    margin-bottom: 0;
    padding-top: 3rem;
    padding-right: 3rem;
  }
}

.headline-mobile {
  display: block;

  @include common-bp (tablet) {
    display: none;
  }
}

.headline-desktop {
  text-align: center;
  display: none;

  @include common-bp (tablet) {
    display: block;
  }
}

.content-container {
  display: flex;
  width: 100%;
}

.section {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(0, -50%);

  @include common-bp (tablet) {
    bottom: 40px;
    left: 50%;
    top: initial;
    transform: translate(-50%, 0);
  }

}

.unordered-list-dt {
  display: none;

  @include common-bp (tablet) {
    display: flex;
    flex-direction: row;
  }
}

.list-item {
  font-family: 'RecoletaR', serif;
  font-size: 2rem;
  color: black;
  position: relative;

  @include common-bp (tablet) {
    margin: 0 1rem;
  }

  .tidal-svg  {
    width: 42px;
  }

  &::before {
		content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: powderblue;
    transform: scale(0, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0 ,0.2, 1);
    transform-origin: right center;
  }

  svg {
    path {
      fill: whitesmoke;
    }
  }

  @include common-bp (tablet) {
    &:hover,
    &:focus {
      &::before{
        transform: scale(1, 1);
        transform-origin: left center;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.hamburger-menu {
  position: absolute;
  top: 2rem;
  left: 2rem;

  @include common-bp(tablet) {
    display: none;
  }

  svg {
    width: 30px !important;
    height: 30px !important;

    path {
      fill: whitesmoke;
    }
  }
}

.btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
  cursor: pointer;

  &--active {
    display: block;
  }

  @include common-bp (tablet) {
    display: none;
  }
}

.mobile-nav {
  background: powderblue;
  display: block;
  position: absolute;
  width: 160px;
  top: 0;
  left: 0;
  z-index: 420;
  height: 100%;
  transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

  &--hide {
    transform: translateX(-160px);
    cursor: pointer;
  }

  &--active {
    transform: translateX(0);
    position: fixed;
  }

  @include common-bp (tablet) {
    display: none;
  }
}

.unordered-list-mb {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;

  .mobile-nav-close-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    padding: 10px !important;

    svg {
      width: 11px !important;
      path {
        fill: whitesmoke;
      }
    }
  }
}

.merch {
  font-family: 'RecoletaR', serif;
  font-size: 1.75rem;
  color: whitesmoke;
}

a {
  text-decoration: none;

  &:hover,:focus,:active {
    text-decoration: none;
  }
}

//////

/* Variables */
:root {
    --first-color: #0000FF;
    --second-color: #FF0000;
    --third-color: #FFFF33;
}

// Mixins
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
      #{$property}: $value;
    }
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    }
  }

/* Animation */
.marquee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: .8rem;
  line-height: 1rem;
  font-weight: bold;
  white-space: nowrap;
  color: var(--third-color);
  // background: transparent;
  background-color: var(--second-color);
  border-bottom: 2px solid var(--third-color);
  overflow: hidden;
  & > p{
    width: 100vw;
    min-width: 100px;
    @include prefix(transform, translateX(0), webkit);
    @include prefix(animation, marquee 20s linear infinite, webkit);
  }
  &.mar-top {
    left: 1.1rem;
    z-index: 3;
  }
  &.mar-bottom {
    top: auto;
    bottom: 0;
    border-bottom: none;
    border-top: 2px solid var(--third-color);
    z-index: 2;
    & > p {
        @include prefix(transform, translateX(-100vw), webkit);
        @include prefix(animation-name, marquee-reverse, webkit);
    }
  }
  &.mar-left {
    top: 100%;
    width:100vh;
    @include prefix(transform-origin, left top, webkit);
    @include prefix(transform, rotate(-90deg), webkit);
  }
  &.mar-right {
    left: 100vw;
    width: 100vh;
    @include prefix(transform-origin, left top, webkit);
    @include prefix(transform, rotate(90deg), webkit);
    z-index: 3;
  }
}

@include keyframes(marquee) {
  0% {
    @include prefix(transform, translateX(0), webkit);
  }
  100% {
    @include prefix(transform, translateX(-100vw), webkit);
  }
}

@include keyframes(marquee-reverse) {
  0% {
    @include prefix(transform, translateX(-100vw), webkit);
  }
  100% {
    @include prefix(transform, translateX(0), webkit);
  }
}

.marquee-paragraph {
 font-family: 'RecoletaR', sans-serif;
}
